spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/mydb?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: test
    password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  secret: V2eryV2eryV2eryV2eryV2eryV2eryV2eryV2erySecretKeyForJwtExampleProject # 32바이트 이상의 강력한 비밀 키를 사용해야 합니다.
  access-token-validity-in-seconds: 86400 # 24시간
