spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mydb?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: test
    password: 1234
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  # 로컬 환경에서는 테스트용 시크릿 키를 사용하고, 외부에 노출되지 않도록 주의해야 합니다.
  # 실제로는 환경 변수나 다른 방법을 통해 주입하는 것이 더 안전합니다.
  secret: V2eryV2eryV2eryV2eryV2eryV2eryV2eryV2erySecretKeyForJwtExampleProject
  access-token-validity-in-seconds: 86400 # 24시간
